@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- CONTENT HEAD -->
<section class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="py-5">
                    <h1 class="display-4">About Us!</h1>
                    <p class="lead">
                        The Thai Association of Iowa (TAI) is a nonprofit organization founded in 2007.  Our ambition is to enlist the Thai community into a force for cultural sharing and discovery between Iowa's diverse communities, while also preserving the native traditions of Thailand.  Furthermore, TAI endeavors to promote good will through civic engagement, to celebrate a full range of the Thai spirit, from good-natured fun to compassion for those in need.
                        <br /><br />
                        Our Current Goals:<br /><br />
                        1. Ensure representation of Iowa's Thai community at the Iowa Asian Alliance's annual Asian Heritage Festival in Des Moines.<br />
                        2. Promote Thai tourism<br />
                        3.  Promote Thailand's cultures/traditions<br />
                        4. To assist and support issues of vital interest to the Thais or Thai Americans in the state of Iowa.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SPACER -->
<section>
    <container class="d-none d-md-block">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </container>
</section>

