
@{
    ViewBag.Title = "ContactUsResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="my-5 py-5">@ViewBag.Result</h1>

<!-- SPACER -->
<section>
    <container class="d-none d-md-block">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </container>
</section>