@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1 class="display-3">Thai Association of Iowa</h1>
            </div>
        </div>
    </div>
</section>
<!-- SHOWCASE -->
<section id="showcase" class="py-5 d-none d-lg-block">
    <div class="text-black">
        <div class="container mt-3">
            <div class="row">
                <div class="col text-center">
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- CONTENT HEAD -->
<section class="mt-3">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="py-5">
                    <h1 class="display-4">Welcome!</h1>
                    <p class="lead">
                        <br/>Thai Association of Iowa (TAI) is a non-profit organization founded and operated by Thais with generous support from non-Thai enthusiasts across Iowa.  Our mission is to share the appreciation of Thailand's exotic customs, food and hospitality with anyone who is interested. Furthermore, TAI is a gateway for connecting Thai newcomers with established Thai communities in Iowa, as a way to practice, preserve and promote the colorful traditions of Thailand, its distinctive culture and religious ceremonies. TAI also celebrates Thailand as a proud participant in Asian celebrations and other civic projects in the Des Moines area.
                    </p>
                    <a href="@Url.Action("AboutUs", "Home", new {})" class="btn btn-outline-secondary">Find Out More</a>
                </div>
            </div>
        </div>
    </div>
</section>


